
// COLORS
$primary-color: #009000;
$secondary-color: #ededed;
$tertiary-color: #fefefe;
$transparent-border-color: rgba(48, 48, 47, .13);

// TEXT COLORS
$on-dark-background: #fefefe;
$on-light-background: #575757;

//BOX SHADOW
$dark-shadow: rgba(0, 0, 0, .07);
